<div class="access-block__cover display-none"></div>
<div class="access-block display-none">
	<div class="access-block__close">
		<i class="fas fa-times"></i>
	</div>
	<h1 class="access-block__title">Dołącz do nas!</h1>
	<h5 class="access-block__info">Aby skorzystać z wszystkich funkcji naszego serwisu musisz się zalogować.</h5>
	<div class="access-block__btn-wrap">
		<a class="button-secondary" href="{{path('app_login')}}">Zaloguj się</a>
		<a class="button-secondary" href="{{path('register')}}">Załóż konto</a>
	</div>
	<div class="access-block__separator">
		lub
	</div>
	<div class="access-block__btn-wrap access-block__btn-wrap--no-margin">
		<div class="facebook-access">
			<i class="fab fa-facebook-square"></i>Połącz się przez Facebook</div>
	</div>
</div>
