<div class="access-block__cover display-none"></div>
<div class="access-block display-none">
	<div class="access-block__close">
		<i class="fas fa-times"></i>
	</div>
	{% include '_partials/message/_access-block-content.html.twig' %}
</div>
