<div class="cookies cookies__hide">
   <div class="cookies__container container">
           <div class="cookies__info">Ta strona wykorzystuje pliki cookies. Dalsze korzystanie ze strony, oznacza że zgadasz się na ich użycie. </div> <div class="cookies__accept button-primary">Akceptuję</div>
   </div>
</div>