<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="facebook-login__wrap facebook-login__wrap--align-center">
    <div class="facebook-login">
        <div class="facebook-login__inner">
            <i class="fab fa-facebook-square"></i>
           {{text}}
        </div>
    </div>
</a>
