<div class="report-post display-none report-post">
    <div class="report-post__close">
        <i class="fas fa-times"></i>
    </div>
    <h1 class="report-post__title">Zgłoś naruszenie</h1>
    <textarea placeholder="Z jakiego powodu zgłaszasz ten post?" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' class="report-post__textarea"></textarea>
    <div class="report-post__button button-secondary">Wyślij</div>
</div>