{% extends 'base.site.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="message">
        <br> <br>
        <h1 class="message__title">Wybrana strona nie istnieje lub została usunięta!</h1>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
