{% extends 'base.site.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    {% include '_partials/ads/_wall-vertical-left.html.twig' %}
  
    {% include '_partials/post/_report-post.html.twig' with {  'data': paginate.data } %}
    <div class="container__post container__list">

        {% for post in paginate.data %}
            {% include '_partials/post/_single-list.html.twig' with { 'post': post} %}

            {% if loop.index == 3 or loop.index == 8 %}
                {% include '_partials/ads/_wall-horizontal.html.twig' %}
            {% endif %}

            {% if loop.index == 5 %}
                {% include '_partials/ads/_wall-fake-post.html.twig' %}
            {% endif %}


        {% endfor %}
        {% include '_partials/ads/_default.html.twig' %}
        {% include '_partials/_pagination-button.html.twig' with {'paginate': paginate} only %}
        {% include '_partials/_pagination.html.twig' with {'paginate': paginate} only %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('post-list') }}
{% endblock %}
