<div class="searcher display-none">
    <form action="{{ path('searcher_pre') }}" method="post">
        <input type="text" class="searcher__text" name="searcher__text"/>
        <button type="submit" class="searcher__button" value=""><i class="fas fa-search"></i></button>
    </form>
</div>

<div class="header-label__item searcher__init">
    <i class="fas fa-search"></i>
</div>