<header class="header">
    <div class="container header__container">

        {% include 'header/_info.html.twig' %}
        {% include 'header/_mobile.html.twig' %}
        {% include 'header/_label.html.twig' %}

    </div>

</header>