.forgot-password {
  width: 100%;
  max-width: 470px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--color-background-light);
  z-index: 999999;
  padding: 30px;
  min-height: 250px;

  &__close {
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-link-primary);
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      color: var(--color-link-primary-hover);
    }
  }

  &__error {
    background: var(--color-error);
    text-align: center;
    padding: 5px;
    margin-bottom: 4px;
    margin-top: 7px;
    border-radius: 3px;
  }

  &__success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.6rem;
    width:90%;
    text-align:center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 20px;
    @include fontHeader();
  }

  &__text {
    background: var(--color-background-dark);
    border: 0;
    border-radius: $border-radius-small;
    width: 100%;
    color: white;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 12px;
    display: block;
  }

  &__info {
    font-size: 11px;
    margin-bottom: 10px;
  }

  &__button {
    padding: 7px 12px;
    font-size: 1.3rem;
  }

  &__success {
    font-size: 14px;
  }


}