<div class="field-wrap field-wrap--title">
	<div class="field-label">
		<div class="field-label__title">
			Opis
		</div>
		<div class="field-label__info">
			(opcjonalnie)
		</div>
		<div class="field-label__counter">
			<span class="field-label__counter--description">0</span>/<span class="field-label__counter--description-limit">750</span>
		</div>
	</div>
	<div class="description-wrap" style="width:100%;">
		<textarea class="textarea-description textarea-description--old" id="create_post_form_description" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' name="description" data-type="graphic" maxlength="750"></textarea>
	</div>
</div>
<textarea class="textarea-description display-none textarea-description--clone" id="" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' name="" data-type="graphic" maxlength="750"></textarea>
