<div class="field-error__wrap">
    <div class="field-wrap field-error field-error--{{ type }} display-none">
        <div class="field-label"></div>
        <div class="field-wrap__content">
            <div class="field-error__frame field-error__frame--{{ type }}"></div>
        </div>
    </div>
</div>

