<div class="create__post-option create__post-option--imageFromLink">
    <div class="field-wrap">
        <div class="field-label">
            <div class="field-label__title">
                Link do zdjęcia</div>
        </div>
        <div class="field-wrap__content">
            <div class="form__error create__post-error--switch create__post-error--url"></div>
            <input class="regular-text" id="form__post-link" name="imageFromLink" type="text"/>
            <input id="link_temponaryImage" name="link_temponaryImage" type="hidden"/>
        </div>
    </div>
</div>
