<div class="create__post-option create__post-option--imageFromDisc">
	<div class="field-wrap">
		<div class="field-label">
			<div class="field-label__title"></div>
		</div>
		<div class="field-wrap__content field-wrap__content--center">
			<input class="inputfile" id="file" name="file" type="file"/>
			<label class="button-functional button-functional--upload" for="file">
				wybierz zdjęcie
			</label>
		</div>
	</div>
</div>
<input id="disc_temponaryImage" name="imageFromDisc" type="hidden"/>
<input id="temponaryImageID" name="temponaryImageID" type="hidden"/>
