<div class="create__post-option create__post-option--youtubeLink">
    <div class="field-wrap">
        <div class="field-label">
            <div class="field-label__title">Link youtube</div>
        </div>
        <div class="field-wrap__content">
            <div class="form__error create__post-error--switch create__post-error--youtubeLink"></div>
            <input class="regular-text" id="form__post-youtube" name="youtube" type="text"/>
            <input id="youtube_ID" name="youtube_ID" type="hidden"/>
            <input id="youtube_temponaryImage" name="youtube_temponaryImage" type="hidden"/>
        </div>
    </div>
</div>
