<div class="create__post-option">
    <div class="field-wrap">
        <div class="field-label">
            <div class="field-label__title">Źródło</div>
        </div>
        <div class="field-wrap__content">
            <div class="form__error"></div>
            <input class="regular-text" name="source" type="text"/>
        </div>
    </div>
</div>

<div class="field-wrap field-wrap--title">
    <div class="field-label">
        <div class="field-label__title">
            Źródło
        </div>
        <div class="field-label__info">
            (opcjonalnie)
        </div>
    </div>
    <input class="regular-text" name="source" type="text"/>
</div>
