<div class="field-wrap field-wrap--title">
    <div class="field-label">
        <div class="field-label__title">
            Tytuł
        </div>
        <div class="field-label__counter">
            <span class="field-label__counter--title">0</span>/250</div>
    </div>
    <textarea name="title" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'  class="textarea-title" maxlength="250" id="create_post_form_title"></textarea>
</div>
