<div class="field-wrap">
    <div class="field-label">
        <div class="field-label__title">Rodzaj postu:</div>
    </div>
    <div class="regular-select regular-select--new-post regular-select__icon">
        <select name="selectType" id="type-post">
            <option value="imageFromDisc">Zdjęcie z dysku</option>
            <option value="youtubeLink">Link z Youtube</option>
            <option value="imageFromLink">Zdjęcie z url</option>
        </select>
    </div>

</div>
