<div class="container__post single__container single-clone display-none">
    <article class="single">
        <div class="single-insert__content">

            <div class="single-image__wrap">
            <a class="single-graphic__link" href="">
                <div class="single-graphic" style="max-width: 600px;">
                    <img alt="" src="">

                </div>
            </a>
            </div>

        </div>

        <div class="single-bar">
            <div class="single-bar__action-wrap">

                <div class="single-bar__vote-wrap">

                    <div data-id="24" class="access-block__init single-bar__vote  single-bar__vote--up">
                        <i class="fas fa-plus"></i>
                        <span class="single--mobile-hide"></span>
                    </div>


                    <div data-id="24" class="access-block__init   single-bar__vote single-bar__vote--down">
                        <i class="fas fa-minus"></i>
                        <span class="single--mobile-hide"></span>
                    </div>

                    <div id="score-24" data-score="1" class="single-bar__vote-score">

                    </div>

                </div>
                <div class="single-bar__facebook">
                </div>

            </div>

            <div class="display-flex single-bar__action-wrap">

                <div>
                    <a class="single-bar__action-button single-bar__comment-link" href="">
                        <i class="fas fa-comment"></i>
                        <span class="single--mobile-hide">Skomentuj</span> (<span
                                class="single-bar__comment-number"></span>)
                    </a>
                </div>

                <div data-id="24" class="single-bar__action-button single-info__button--link">
                    <i class="fas fa-link"></i>
                    <span>Kopiuj link</span>
                </div>

                <div data-id="24" data-type="post"
                     class="single-bar__action-button single-bar__action-button--fix-padding single-info__button--report access-block__init">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>

            </div>

        </div>


        <div id="single-wrap-24" class="single-info__wrap ">

            <div class="single-info__label single-info__label--mobile">

                <div class="single-info__label-info">
                    <div class="single-info__date">
                    </div>
                </div>
            </div>
            <div class="single-info__wrap-flex">
                <div data-id="24"
                     class="single-info__dropdown-item single-info__button--link single-info__button--link-mobile"><i
                            class="fas fa-link"></i> <span>Kopiuj link</span>
                </div>
                <div data-id="24" data-type="post" class="single-bar__dropdown-item  access-block__init"><i
                            class="fas fa-exclamation-circle"></i>Zgłoś
                </div>
            </div>
        </div>

        <div id="single-info-24" class="single-info display-flex">

            <div class="single-info__category-wrap">

            </div>
            <div class="single-info__category-wrap single-info__category-wrap--mobile">


            </div>

            <div class="single-info__label-wrap single-info__label--desktop">
                <div class="single-info__label">

                    <div class="single-info__label-info">
                        <div class="single-info__date">x
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="single-source-24" class="single-source display-none">

        </div>

        <input class="single__copy-link" type="text" id=""
               value="">


    </article>
</div>