<div data-id="26" data-type="post" id="report-post-26" class="report report-clone display-none">
    <div class="report__close">
        <i class="fas fa-times"></i>
    </div>
    <div class="report__content">
        <h2 class="report__title">
            Zgłoś naruszenie
        </h2>


        <div class="report-comment">
            <div>
                <div class="report-comment__avatar"
                     style="background:url(/upload/post/26.jpg);background-size: cover;"></div>
            </div>
            <div class="report-comment__content">

                <div class="report-comment__content-text">

                </div>
            </div>
        </div>


        <div class="checkbox-primary ">
            <label class="checkbox-primary__container">naruszenie regulaminu - nieodpowiednie treści
                <input value="isStatuteBreak" type="checkbox" name="report-comment-26">
                <span class="checkbox-primary__checkmark"></span>
            </label>
        </div>
        <div class="checkbox-primary ">
            <label class="checkbox-primary__container">treści reklamowe i spam
                <input value="isSpam" type="checkbox" name="report-comment-26">
                <span class="checkbox-primary__checkmark"></span>
            </label>
        </div>
        <div class="checkbox-primary ">
            <label class="checkbox-primary__container">treści zbyt drastyczne lub pornograficzne
                <input value="isDrasticOrPorn" type="checkbox" name="report-comment-26">
                <span class="checkbox-primary__checkmark"></span>
            </label>
        </div>
        <div class="checkbox-primary ">
            <label class="checkbox-primary__container">obrażanie lub atak na mnie lub inne osoby
                <input value="isInsult" type="checkbox" name="report-comment-26">
                <span class="checkbox-primary__checkmark"></span>
            </label>
        </div>
        <div class="checkbox-primary ">
            <label class="checkbox-primary__container">inne
                <input value="isOther" type="checkbox" name="report-comment-26">
                <span class="checkbox-primary__checkmark"></span>
            </label>
        </div>
        <textarea name="other" placeholder="Z jakiego powodu zgłaszasz ten post?"
                  oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                  class="report__textarea display-none"></textarea>
        <div>
            <input type="submit" class="button-secondary report__button display-none" value="Zgłoś">
        </div>
    </div>
</div>