
{#<div class="single-navigation">#}
{#    {% if postPrevious %}#}
{#    <a href="{{ path('post_single',{'id': postPrevious.id,'slug': postPrevious.slug}) }}"#}
{#       class="single-navigation__button single-navigation__button--prev"><i class="fas fa-chevron-left"></i>#}
{#        POPRZEDNI</a>#}
{#    {% endif %}#}
{#    <div></div>#}
{#    {% if postNext %}#}
{#    <a href="{{ path('post_single',{'id': postNext.id,'slug': postNext.slug}) }}" class="single-navigation__button single-navigation__button--next">NASTĘPNY<i#}
{#                class="fas fa-chevron-right"></i></a>#}
{#    {% endif %}#}
{#</div>#}

