<div class="collaboration display-none">

{#    <div class="collaboration__close collaboration__close--action">#}
{#        <i class="fas fa-times"></i>#}
{#    </div>#}

    <h1 class="collaboration__title">
        Stwórz z nami społeczność ludzi ciekawych świata
    </h1>
    <div class="collaboration__info">
        Dzieląć się swoją wiedzą i ciekawostkami pomagasz tworzyć nasz serwis. W najbliższym czasie najbardziej
        aktywnych użytkowników planujemy regularnie nagradzać.
    </div>

    <div class="collaboration__button-wrap">
        <a class="button-primary" href="{{ path('post_new') }}" class="collaboration__button">Dodaj materiał</a>
        <span class="button-secondary collaboration__close--action">Zamknij</span>
    </div>
</div>