<div class="forgot-password display-none">
    <div class="forgot-password__close">
        <i class="fas fa-times"></i>
    </div>
    <div class="forgot-password__content">
        <h1 class="forgot-password__title">Zapomniałeś hasła?</h1>
        <div class="forgot-password__info">Podaj swój adres e-mail poniżej, aby otrzymać link do zresetowania hasła.
        </div>
        <div class="forgot-password__error display-none">
        </div>
        <input type="text" class="forgot-password__text" placeholder="Email..."/>
        <div class="forgot-password__button button-secondary">Wyślij</div>
    </div>
    <div class="forgot-password__loader display-none">
        {% include '_partials/_loader-on-dark-background.html.twig' with { 'isAbsolute': true } %}
    </div>

    <div class="forgot-password__success display-none">Na Twój adres wysłaliśmy link, który umożliwi Ci zmianę hasła!
    </div>

</div>
