<div class="ads-wall__vertical ads-wall__vertical-left">
    {{ advertisementHelper.displayAd('wall-vertical-left')|raw }}
{#    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
{#    <!-- wall desktop vertical -->#}
{#    <ins class="adsbygoogle"#}
{#         style="display:inline-block;width:120px;height:700px"#}
{#         data-ad-client="ca-pub-5159051873786027"#}
{#         data-ad-slot="1365530676"></ins>#}
{#    <script>#}
{#        (adsbygoogle = window.adsbygoogle || []).push({});#}
{#    </script>#}
</div>