<div class="single-collaboration single-collaboration--margin-top">
    <div class="single-collaboration__info">
        {{ settingHelper.displaySetting('collaboration') }}
    </div>
    <div class="single-collaboration__action">
        <a href="{{ path('post_new') }}" class="button-primary button-primary--small button-primary--small--font">Dodaj materiał</a>
    </div>
</div>