<div class="profile-setting__small-title">Avatar</div>
<div class="profile-upload">
	<div class="profile-upload__avatar" style="background:url({{ asset(userHelper.getAvatarUrl) }});background-size: cover;"></div>
	<div class="profile-upload__action">
		<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
		<div class="profile-upload__action-info">JPG, GIF lub PNG, maksymalnie: 10MB</div>
	</div>
</div>
