{% extends 'base.site.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container__post single__container">
        {% if errors['changePassword'] is defined and errors['changePassword']|length > 0  %}
            <div class="field-error__frame field-error__frame--title">{{ errors['changePassword'] }}</div>
        {% endif %}

        {% if errors['changePasswordSuccess'] is defined %}
            {% include '_partials/message/_default.html.twig' with {'msg': errors['changePasswordSuccess'] } %}
        {% endif %}
        {% if errors['changePasswordSuccess'] is not defined %}
        <form method="post" name="password">
            <h3 class="profile-setting__label">Nowe hasło</h3>
            <input type="password" name="newPassword" class="regular-text" value=""/>
            <h3 class="profile-setting__label">Powtórz nowe hasło</h3>
            <input type="password" name="newPasswordRepeat" class="regular-text" value=""/>
            <br><br>
            <input type="submit" name="submit" class="button-secondary button-secondary--small" value="Zmień hasło">
        </form>
        {% endif %}
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {#         {{ encore_entry_script_tags('post-single') }} #}
    {% endblock %}
